<?xml version="1.0"?>
<!--
 * Netresearch_Logmon extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Logging_Monitoring
 * @package    Netresearch_Logmon
 * @author     Thomas Kappel <thomas.kappel@netresearch.de>
 * @copyright  Copyright (c) 2010 Netresearch GmbH & Co.KG <http://www.netresearch.de/>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <modules>
        <Netresearch_Logmon>
            <version>0.1.0</version>
        </Netresearch_Logmon>
    </modules>
    <global>
        <blocks>
            <logmon><class>Netresearch_Logmon_Block</class></logmon>
        </blocks>
        <helpers>
            <logmon>
                <class>Netresearch_Logmon_Helper</class>
            </logmon>
        </helpers>
        <models>
            <logmon>
                <class>Netresearch_Logmon_Model</class>
                <resourceModel>logmon_mysql4</resourceModel>
            </logmon>
            <logmon_mysql4>
                <class>Netresearch_Logmon_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>netresearch_logmon</table>
                    </log>
                </entities>
            </logmon_mysql4>
        </models>
        <resources>
            <logmon_setup>
                <setup>
                    <module>Netresearch_Logmon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </logmon_setup>
            <logmon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </logmon_write>
            <logmon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </logmon_read>
        </resources>
        <template>
            <email>
                <logmonMailTemplate translate="label" module="logmon">
                    <label>Logging Message</label>
                    <file>logmon_message.html</file>
                    <type>html</type>
                </logmonMailTemplate>
            </email>
        </template>
    </global>
    <admin>
         <routers>
            <logmon>
                <use>admin</use>
                <args>
                    <module>Netresearch_Logmon</module>
                    <frontName>logmon</frontName>
                </args>
            </logmon>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <logmon translate="title" module="logmon">
                        <title>Logging &amp; Monitoring</title>
                        <action>logmon/adminhtml_log/</action>
                    </logmon>
                 </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <logmon>
                                    <title>Logging &amp; Monitoring</title>
                                </logmon>
                                <config>
                                    <children>
                                        <logmon>
                                            <title>Logging &amp; Monitoring</title>
                                        </logmon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl><!-- 
        <translate>
            <modules>
                <Netresearch_Logmon>
                    <files>
                        <default>Netresearch_Logmon.csv</default>
                    </files>
                </Netresearch_Logmon>
            </modules>
        </translate> -->
    </adminhtml>
    <default>
        <dev>
            <logmon>
                <active_mage_log>1</active_mage_log>
                <mailMaxLevel>4</mailMaxLevel>
                <active_mage_logexception>1</active_mage_logexception>
                <archiveFile>archive/{level}.log</archiveFile>
            </logmon>
         </dev>
    </default>
    <crontab>
        <jobs>
            <archive_logging_messages>
                <schedule>
                    <cron_expr>3 30 * * *</cron_expr>
                </schedule>
                <run>
                    <model>logmon/observer::archive</model>
                </run>
            </archive_logging_messages>
        </jobs>
    </crontab>
</config>